<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <script src="https://kit.fontawesome.com/a570ceb9bc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/about.css">
</head>
<body>
    
        <!-- NAVBAR SECTION -->
        <nav class="navbar">
            <div class="nav-container">
                <a href="../../index.html" id="Nav-Logo"><i class="fas fa-bullseye"></i>LOGO</a>
                <div class="nav-toggle " id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="../../index.html" class="nav-Links">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="./about.html" class="nav-Links">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a href="./products.html" class="nav-Links">PRODUCTS</a>
                    </li>
                    <li class="nav-btn">
                            <a href="./register.html" class="button" target="#">
                            REGISTER
                            </a>
                    </li>
                </ul>
            </div>
        </nav>
    <main class="main">
        <section class="main-container">
                <div class="main-content">
                    <h1>ABOUT US</h1>
                    <h3>SUBTITLE</h3>
                    <h4>Vision:</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h4>Mission:</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="../../index.html" class="main-btn"> HOME</a>
                </div>
                <div class="main-img-container">
                    <img src="../assets/images/Pic4.svg" alt="unDraw.co" id="main-img"/>
                </div>
        </section>
        <section class="team">

                <div class="card" id="card"> 
                    <div class="person-img-container" id="person-img-container">
                        <img src="../assets/images/woman.jpg" alt="PERSON" class="person-img"/>
                    </div>
                    <div class="person" id="person">
                        <h3>FirstName SecondName</h3>
                        <p>Here you can some details about each team member</p>
                    </div>
                </div>

                <div class="card">
                    <div class="person-img-container">
                        <img src="../assets/images/woman.jpg" alt="PERSON" class="person-img">
                    </div>
                    <div class="person">
                        <h3>FirstName SecondName</h3>
                        <p>here you can add some details about each team member</p>
                    </div>
                </div>

                <div class="card">
                    <div class="person-img-container">
                        <img src="../assets/images/woman.jpg" alt="PERSON" class="person-img">
                    </div>
                    <div class="person">
                        <h3>FirstName SecondName</h3>
                        <p>here you can add some details about each team member</p>
                    </div>
                </div>

                <div class="card">
                    <div class="person-img-container">
                        <img src="../assets/images/woman.jpg" alt="PERSON" class="person-img">
                    </div>
                    <div class="person">
                        <h3>FirstName SecondName</h3>
                        <p>here you can add some details about each team member</p>
                    </div>
                </div>
                

        </section>

       <!-- FOOTER -->
       <section class="footer">
        <div class="footer-links">
            <div class="footer-links-wrapper">
                <div class="footer-links-item">
                    <h2>LINKS</h2>
                    <a href="./about.html">About</a>
                    <a href="./products.html">Products</a>
                    <a href="./register.html">Register</a>
                </div>
                <div class="footer-links-item">
                    <h2>INFORMATION</h2>
                    <a href="./register.html">ContactUS</a>
                    <a href="../../index.html">Terms of use</a>
                    <a href="../../index.html">Careers</a>
                    <a href="../../index.html">Investments</a>
                </div>
                <div class="footer-links-item">
                    <h2>SOCIAL</h2>
                    <a href="https://Facebook.com" target="_">Facebook</a>
                    <a href="https://Instagram.com" target="_">Instagram</a>
                    <a href="https://twitter.com" target="_">twitter</a>
                    <a href="https://youtube.com" target="_">Youtube</a>
                    <a href="https://github.com" target="_">Github</a>
                </div>
            </div>
        </div>
        <div class="social-media">
            <div class="social-media-wrap">
                <div class="footer-logo">
                    <a href="../../index.html" id="footer-logo">
                    <i class="fas fa-bullseye"></i> LOGO
                    </a>
                    <p class="rights">© All rights reserved 2021 </p>
                </div>
                <!-- hold alt and type 0169 to get the copyright symbol -->
                
                <div class="icons">
                    <a href="https://Facebook.com" target="_" class="icon-link" >
                    <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://Instagram.com" target="_" class="icon-link" >
                    <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com" target="_" class="icon-link" >
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    </main>
<script src="../about.js"></script>
</body>
</html>